.burger {
  position: relative;
  width: 30px;
  height: 22px;
  background: transparent;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 3;

  @include onDesktop {
    display: none;
  }

  input {
    display: none;

    &:checked ~ span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 0;
      left: 3px;
    }

    &:checked ~ span:nth-of-type(2) {
      width: 0%;
      opacity: 0;
    }

    &:checked ~ span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 21px;
      left: 3px;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $c-white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all $anim-time;

    &:nth-of-type(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left center;
    }

    &:nth-of-type(3) {
      top: 100%;
      transform-origin: left center;
      transform: translateY(-100%);
    }
  }

  &:hover span {
    background-color: $c-blue;
    box-shadow: 0 0 2px 1px $c-blue;
  }
}
