.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 46px;
  background-color: $c-brown;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: $c-white;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.25s;
  outline: 2px solid $c-brown;
  outline-offset: -4px;

  &:hover {
    outline-offset: 2px;
    box-shadow: 0px 0px 3px 3px $c-light-brown;
  }
}
