.feature {
  padding: 40px 0 40px;
  background: linear-gradient(0deg, $c-black 0%, $c-purple 10%, $c-purple 90%, $c-black 100%);

  @include onTablet {
    padding: 80px 0 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: space-between;
    flex-basis: calc(50% - 15px);

    p {
      width: 240px;
      text-align: center;
    }

    svg {
      fill: $c-white;
      transition: all $anim-time;

      &:hover{
        fill: $c-blue;
        filter: drop-shadow(0 0 2px $c-blue);
      }
    }

    @include onDesktop {
      flex-basis: auto;
    }
  }
}
