.page {
  font-family: 'Tektur';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: $c-white;
  scroll-behavior: smooth;

  &__body {
    background-color: $c-white;

    &--overflow {
      overflow: hidden;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 85%;
    color: $c-blue;
    animation: text 3s infinite;

    @include onTablet {
      font-size: 46px;
    }

    @include onDesktop {
      font-size: 52px;
    }
  }
}
