.page {
  font-family: 'Tektur';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: $c-white;
  scroll-behavior: smooth;

  &__body {
    background-color: $c-white;

    &--overflow {
      overflow: hidden;
    }
  }

  // &__title {
  //   font-weight: 400;
  //   font-size: 48px;
  //   line-height: 85%;
  //   letter-spacing: -0.05em;
  //   text-transform: uppercase;

  //   @include tablet {
  //     font-size: 56px;
  //   }

  //   @include desktop {
  //     font-size: 72px;
  //   }
  // }

  // &__menu {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 1;
  //   transform: translateY(-100%);
  //   transition: transform 0.3s;

  //   &:target {
  //     transform: translateY(0);
  //   }
  // }
}
