.anim {
  transition: all 1s;
  opacity: 0;

  &__bottom {
    transform: translateY(30%);
  }

  &__left {
    transform: translateX(-30%);
  }

  &__right {
    transform: translateX(30%);
  }

  &--active {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
