.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: transform $anim-time;
  background-color: $c-purple;
  box-shadow: inset 0px 0px 100px 80px $c-black;

  @include onTablet {
    box-shadow: inset 0px 0px 120px 100px $c-black;
  }

  &--open {
    transform: translateY(0);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
