.products {
  overflow: hidden;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;

    span {
      font-weight: 700;
    }

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }

    @include onDesktop {
      gap: 20px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include onDesktop {
      font-size: 24px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;

    @include onTablet {
      grid-template-columns: repeat(2, minmax(0, 500px));
      justify-content: space-between;
    }

    img {
      width: 34px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;

      @include onDesktop {
        font-size: 16px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    text-align: center;

    @include onTablet {
      text-align: initial;
    }

    @include onDesktop {
      font-size: 16px;
    }
  }

  &__img {
    width: 80%;
    max-width: 500px;

    @include onTablet {
      width: 50%;
      flex-shrink: 0;
    }

    img {
      width: 100%;
      transform: scaleX(-1);
      filter: drop-shadow(0 0 10px $c-blue);
    }
  }

  &__decor {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: -1;
    transform: rotate(45deg);

    @include onDesktop {
      display: block;
    }

    img {
      width: 250px;
      filter: drop-shadow(2px 2px 5px $c-gray);
    }
  }
}
