.anim {
  transition: all 1s;
  opacity: 0;

  &__bottom {
    transform: translateY(40%);
  }

  &__left {
    transform: translateX(-40%);
  }

  &__right {
    transform: translateX(40%);
  }

  &--active {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text {
  0% {
    text-shadow: 0 0 0 $c-blue;
  }
  50% {
    text-shadow: 0 0 20px $c-blue;
  }
  80% {
    text-shadow: 0 0 0 $c-blue;
  }
  85% {
    text-shadow: 0 0 20px $c-blue;
  }
  90% {
    text-shadow: 0 0 0 $c-blue;
  }
  95% {
    text-shadow: 0 0 20px $c-blue;
  }
  100% {
    text-shadow: 0 0 0 $c-blue;
  }
}
