$c-white: #efefef;
$c-black: #000;
$c-gray: #1f1f1f;
// $c-blue: #00aaff;
$c-blue: #70cfff;
$c-dark-blue: #001f3f;
// $c-purple: #330066;
$c-purple: #25004a;
$c-dark-purple: #180030;

$anim-time: 0.4s;
